In [6]:
import pandas as pd

In [7]:
data_1 = '/hy-tmp/Code/DSN_results_v2/2022-08-29-22:52:24result.txt'

data_2 = '/hy-tmp/Code/DSN_results_v2/2022-08-29-20:03:08result.txt'

In [8]:
df_1 = pd.read_csv(data_1,sep = '\t')

df_2 = pd.read_csv(data_2,sep = '\t')

In [9]:
df_1[df_1.test_ccc == df_1.test_ccc.max()]

      epoch  test_rmse  test_pcc  test_ccc
2571   2571    7.00226   0.25654  0.155282

In [10]:
df_2[df_2.test_ccc == df_2.test_ccc.max()]

     epoch  test_rmse  test_pcc  test_ccc
754    754    6.97199  0.210663  0.126633